<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.courtpool">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Courtpool">
        <activity android:name=".activities.PersonalEditActivity"></activity>
        <activity android:name=".activities.PlayerProfileActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NavActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DayAndTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SkillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CourtTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChooseLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GetStartedActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>